:root {
    --blue: #2563EB;
    --white: #ffffff;
    --black: #000000;    
}

.lesson-six {
    padding: 30px 45px 15px 45px;
}

.lesson-six .head {
    margin-bottom: 30px;
}

.lesson-six .main-text p {
    margin-bottom: 15px;
}

.lesson-six .main-text img {
    margin-bottom: 15px;
}