:root {
    --blue: #2563EB;
    --white: #ffffff;
    --black: #000000;
    --orange: #FF9000;
    --green: #2BAE0D;
}

.header-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 85px 45px 0 45px;
}
.logotype {
    width: 100%;
}

.header {
    background-color: var(--blue);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 89px;
    align-items: center;
}

.header h1 {
    font-size: 20px;
    color: var(--white);
    margin-bottom: 13px;
}

.header p {
    font-size: 16px;
    color: var(--white);
}

.hello-block {
    margin: 30px 45px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello-block p {
    margin-bottom: 15px;
}

.hello-block span {
    color: var(--blue);
}

.author {
    position: relative;
}

.author-container {
    background-color: var(--blue);
    color: var(--white);
    padding: 30px 45px 83px 45px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.author-container .author-text .first {
    margin-bottom: 15px;
}

.author-quote {
    width: 186px;
    box-shadow: 0 4px 12px 0 var(--black);
    border-radius: 10px;
    padding: 18px 15px 18px 15px;
    position: absolute;
    z-index: 10;
    background-color: var(--white);
    right: 25px;
    bottom: -28px;
}

.content {
    padding: 58px 45px 15px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text .content-video {
    color: var(--blue);
}

.content-text p {
    margin-bottom: 15px;
}

.under-content {
    background-color: var(--blue);
    color: var(--white);
    padding: 30px 45px;
}
.under-content .under-content-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.under-content-text .first-text, .second-text, .tree-text {
    display: flex;
    gap: 5px;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 45px 15px 45px;
}

.introduction-text p {
    margin-bottom: 15px;
}

.under-block {
    padding: 30px 44px 30px 45px;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    color: var(--blue);
}

.orange {
    color: var(--orange);
}

.green {
    color: var(--green);
}

.lesson-tasks {
    padding: 30px 45px 15px 45px;
    background-color: var(--blue);
    color: var(--white);
}

.lesson-tasks-text p {
    margin-bottom: 15px;
}

.additional-info {
    padding: 30px 45px 15px 45px;
}

.additional-info .text {
    margin-bottom: 15px;
}

.additional-info .link {
    margin-bottom: 15px;
}

.additional-info button {
    background-color: var(--blue);
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    margin-bottom: 15px;
}

.additional-info button:hover {
  transform: scale(1.05);
  background-color: #032531;
}

.additional-info button a{
    color: var(--white);
    text-decoration: none;
}